body {
    padding: 0;
    margin: 0;
}
header {
    text-align: center;
    position: sticky;
    top: 0;
    background-color: aquamarine;
    padding: 0.5rem 1rem;
}
.nav-menu {
    list-style-type: none;
    
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
    
    gap: 1.5rem;
}
section {
    padding: 12rem 3rem 8rem 3rem;
}